*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 80px;
}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(7, auto);
    gap: 0;
    width: 600px;
    height: 600px;
    border: 2px solid #000;
    position: relative;
}

.celula {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #ccc;
}

.peca{
    border-radius: 50px;
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
}